.navbar {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 75px;
    padding: 0px 32px;
  }

  .logoDiv{
    display: flex;
    margin: 14px;
    align-items: center;
    margin: 14px;
  }