@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.Navbar{
    /* font-family: 'Poppins', sans-serif; */
    display: flex;
   justify-content: space-between; 
   align-items: center;
   height: 74px;
   width: 100%;
   background-color: #34c94b;
   /* padding: 0px 32px; */
   
   
}